.navbar_row {
  height: 5vh;
  opacity: 0;
}

.navbar {
  background-color: #661719;
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar_li {
  margin-left: 20px;
  margin-right: 20px;
}

.navbar_button {
  text-transform: uppercase;
  border: 0px;
  background-color: transparent;
  font-size: 20px;
  letter-spacing: 5px;
  color: white;
}

.navbar_button:focus {
  outline: 0px;
  border-color: rgb(255, 255, 255);
}

.navbar_toggler {
  border-color: rgb(255, 255, 255);
}

.navbar_toggler_icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar_toggler:focus,
.navbar_toggler:active,
.navbar_toggler_icon:focus {
  outline: none;
  box-shadow: none;
}
