.education_outter {
  position: relative;
  height: 45vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.education_wrapper {
  background-color: #661719;
  height: 45vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  position: absolute;
  top: 0px;
  width: 100vw;
  left: -100vw;
}

.education_logo {
  width: 300px;
  height: 175px;
  margin-bottom: 25px;
}

.title {
  color: white;
  margin-bottom: 40px;
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
}

.school_name {
  color: white;
  font-size: 28px;
}

.location {
  color: white;
  font-size: 20px;
}

.major {
  color: white;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .education_wrapper {
    height: 100vh;
  }

  .education_outter {
    height: 100vh;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .education_wrapper {
    height: 70vh;
  }

  .education_outter {
    height: 70vh;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1500px) {
  .education_wrapper {
    height: 45vh;
  }

  .education_outter {
    height: 45vh;
  }
}
