.background {
  background-color: white;
  height: 100vh;
}

.slide {
  position: absolute;
  width: 100vw;
  z-index: 2;
}

.backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: white;
}

.slide_block {
  background-color: #661719;
  height: 33.3333vh;
  left: -100vw;
}

.welcome {
  color: white;
  padding-bottom: 5vh;
  font-size: 100px;
  opacity: 0;
}
