.about_wrapper {
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #fafafa;
}

.about_title h1 {
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.about_wrapper p {
  text-align: left;
  margin-bottom: 40px;
}

.flex {
  display: flex;
  width: 100vw;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.flex_item {
  overflow: hidden;
}

.flex_item img {
  width: 400px;
  height: 400px;
}

.flex img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s ease;
}

.flex img:hover {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  filter: grayscale(0);
  transform: scale(1.2);
  transition: all 0.5s ease;
}

@media only screen and (max-width: 992px) {
  .flex_item img {
    width: 200px;
    height: 200px;

    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .flex_item img {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
}
