.project_wrapper {
  padding: 5vh;
  background-color: white;
}

.project_title h1 {
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.project_row {
  margin: 100px 0 100px 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10vw 0px 10vw;
}

.project_row p {
  text-align: left;
}

.card_img {
  width: 300px;
  height: 300px;
}

.title_red {
  color: #cc2f32;
  font-size: 35px;
  font-weight: bold;
}

.title_blue {
  font-size: 35px;
  font-weight: bold;
  color: #3258a1;
}

.repo_link {
  color: #3258a1;
  padding: 10px;
  font-size: 20px;
  text-decoration: none !important;
}

.repo_link:hover {
  color: #661719;
}

@media only screen and (max-width: 992px) {
  .card_img {
    margin-bottom: 50px;
  }

  .project_row {
    margin: 50px 0px 50px 0px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .project_row {
    margin: 100px -12vw 100px -12vw;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  .project_row {
    margin: 100px -5vw 100px -5vw;
  }
}
